
<div class="container">
    <form [formGroup]="myForm">
      <div>
        <label>Search List</label>
      </div>
      <div>
        <select formControlName="selectedList" (change)="onListSelect($event)"> <!-- Add (change) event binding -->
          <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>
    </form>

  
  <div class="formGrocery" *ngIf="showGroceryForm">
    <form [formGroup]="mygrocery">
      <div>
        <label>Grocery List</label>
      </div>
      <div>
        <select formControlName="groceryList"> 
          <option *ngFor="let option of groceryOption" [value]="option.value">{{ option.label }}</option>
        </select> 
        <input type="button" value="Add" id="addBtn" (click)="addItem()">
      </div><br>
      <div>
        <label>If You Haven't Find Items Above Type Grocery Items Below.</label>
        </div>
        <div>
          <input type="text" formControlName="groceryName" id="groceryName" autocomplete="random-text">
          <input type="button" value="+" (click)="addNewItem()">
        
        </div>
      <div *ngFor="let item of groceryItems; let i = index" id="addedItem">
        {{ item }}
        <span class="minusBtn"><input type="button" value="-" (click)="deleteItem(i)"></span>
      </div><br>
   <div><!--
    <input type="button" value="Save" (click)="saveItems()">

   -->
     <button (click)="saveItems()"><img src="./assets/save.png" alt="save-image"></button>
   </div>
    </form>
  </div>
</div>
  