*{
    padding:0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
   
 }
 
 h1{
    color: rgb(233, 227, 227);
    text-shadow: 1px 2px grey;

 }
 
 .sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hsl(0, 8%, 70%);
    overflow-x: hidden;
    padding-top: 40px;
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: clamp(1.2em, 2vw, 1.5em);
    color: #140202;
    display: block;
    font-weight: bold;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Creating hr in every achor element of class sidenav in html page */

  .sidenav a::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black; /* Or any color you want for the line */
    margin: 0.5em 0; /* Optional: Add some spacing around the line */
}

.sidenav a:last-child::after {
    display: none; /* This removes the line after the last anchor element */
}


 .container{
     display: flex;
     flex-direction: column;
     justify-items: center;
     text-align: center;
     padding: 1.1em;
 }
 
 
 select{
     font-size: clamp(0.9em,20vw,1.1em);
     min-height: 1.6em;
     max-width: max-content;
     border: 3px solid grey;
     font-weight: bold;
 }
 select:focus{
     outline: none;
 }
 
 label{
     color: white;
     font-size: 1.5em;
     text-shadow: 1px 1px 1px rgb(192, 175, 247);
 }
 
 .formGrocery {
     margin: 5em 0 0 26vw;
     display: flex;
     flex-direction: column;
     align-items: center; /* Center horizontally */
     justify-content: center; /* Center vertically */
     border: 4px inset white;
     box-shadow: 1px 1px 2px grey;
     width: 37vw;
     padding: 1em;
     min-width: 32vw;
   }
 
 .formGrocery label {
     /* Add your custom label styles here */
     font-size: 16px;
     color:white;
     font-size: 18px;
   }
 
 .formGrocery input[type="button"]{
     height: 2em; width: 2em;
     font-size: 16px;
     margin-left: 1em;
     margin-top: 0.5em;
 }
 
 .formGrocery input[type="text"]{
     height: 2em; width: 12em;
     font-size: 16px;
     cursor: pointer;
     outline: none;
     cursor: pointer;
     font-size: 18px;
     padding-left: 2px;
 }
 #addBtn{
  
     width: 6vw;
     font-weight: bold;
     box-shadow: 1px 1px 2px white;
     cursor: pointer;
 
 }
 #addedItem{
     color: white;
     font-size: 17px;
     font-weight: 600;
     cursor: pointer;
     margin-top: 0.3em;
     background-color: red;
     /* Add flex properties */
   display: flex;
   align-items: center;
   justify-content: space-between; /* This will push the '-' button to the right */
   padding-left:1.2rem;
    
 }
 .minusBtn{
   margin: 0 0 0 15em;
 }
 button{
    background-color: white;
    border-color: white;
    border-style: none;
 }

 button img{
  height: 2.5em;
  width: 3em;
  cursor: pointer;
}

 @media screen and (max-width:600px) {
     .formGrocery{
         margin: 2em auto auto auto;
         padding: auto;
     
         width: auto;
     }
    
   
 }
 @media screen and (max-width: 750px) {

  .container{
    margin-top: 6rem;
   }
     .sidenav{
      top:60px;
      height: auto;
      width: 100%;
      padding: auto;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
     }
     h1{
      text-align: center;
     }


     .sidenav a {
      display: inline-block; /* Display anchors side by side */
      margin:auto;    
      padding:auto;
     
    
  }

  .sidenav a::after {
      content: "";
      display: inline-block;
      height: 20px;         /* Adjust based on desired line height */
      width: 2px;
      background-color: black;
      vertical-align: middle;
      margin-left: 10px;
  }


  
     
}
