* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(196, 184, 184);
  }
  
  .container {
    margin: 10em 1.8em 0 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
   cursor: pointer;
  }
  .container:hover{
    box-shadow: 1px 1px 2px 1px grey
  }
  h2{
    padding-bottom: 1em;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align form items to the left */
    width: 300px; /* Set a fixed width for the form to control its size */
  }
  
  label {
    margin-right: 1em; /* Add some right margin to separate labels from inputs */
    font-size: 18px;
    font-weight: bold;
  }
  
  input
   {
    width: 100%; /* Make inputs and button fill the width of the form */
    padding: 0.5em; /* Add some padding to inputs and button for spacing */
    margin-bottom: 1em; /* Add bottom margin to separate inputs and button */
    cursor: pointer;
    height: 1.4em;
    background-color: white;
    font-size: 18px;
  }
  input:focus{
    outline: none;
  }
  button{
    width: 100%; /* Make inputs and button fill the width of the form */
    padding: 0.5em; /* Add some padding to inputs and button for spacing */
    height: 1.6em;
    border-radius: 6px;
   cursor: pointer;
    background-color: rgb(82, 71, 234);
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5em;
  }
  button:hover{  
    box-shadow: 1px 2px 2px 2px grey;
    
  }
  a{
    color:blue;
  }
  p{
    margin-top: 0.5em;
  }