<div class="container">
    <h2>Welcome Back Again.</h2>
    <form action="" [formGroup]="login">
     
      <input type="text" formControlName="username" placeholder="Username">
      

      <input type="password" formControlName="password" placeholder="Password">
      
      <button>Login</button>
      <p class="linkme"><a  routerLink="/reset" target="_blank">Forget Username or Password..</a></p>
      <p class="linkme1"><a routerLink="/register">Register Here</a></p>
    </form>
  </div>
  