<div class="container">
  <form [formGroup]="myForm">
    <div>
      <label>Search List</label>
    </div>
    <div>
      <select formControlName="selectedList" (change)="onListSelect($event)"> <!-- Add (change) event binding -->
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>
  </form>
</div>


<div class="formGrocery" *ngIf="showGroceryForm">
  <form [formGroup]="mygrocery">
    <div>
      <label>Grocery List</label>
    </div>
    <div>
      <select formControlName="groceryList"> 
        <option *ngFor="let option of groceryOption" [value]="option.value">{{ option.label }}</option>
      </select> 
      <input  type="button" value="Add" id="addBtn">
    </div><br>
    <div>
      <label for="groceyName">If You Haven't Find Items Above Type Grocery Items Below.</label>
      </div>
      <div>
        <input type="text" name="groceryName" id="groceryName">
        <input type="button" value="+">
        <input type="button" value="-">
    </div>
  </form>
</div>