<div class="container">
  <form [formGroup]="myForm">
    <div>
      <label>Search List</label>
    </div>
    <div>
      <select formControlName="selectedList" (change)="onListSelect($event)"> <!-- Add (change) event binding -->
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>
  </form>
</div>


<div class="formGrocery" *ngIf="showGroceryForm">
  <form [formGroup]="mygrocery">
    <div>
      <label for="groceyName">Type Grocery Items</label>
      </div>
      <div>
        <input type="text" name="groceryName" id="groceryName">
        <input type="button" value="+"><input type="button" value="-">
    </div>
  </form>
</div>